[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"
[project]
name = "TAInstCalorimetry"
version = "0.1.2"
authors = [
  { email="aCodingChemist@gmail.com" },
  { name="mj-hofmann"}
]
description = "Handling TAM Air calorimetry files made easy."
readme = "README.md"
keywords = ["calorimetry", "TAM Air", "TA Instruments", "analysis", "vizualisation"]
license = { file="LICENSE"}
requires-python = ">=3.7"
[project.urls]
"Homepage" = "https://github.com/mj-hofmann/TAInstCalorimetry"

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.mypy]
mypy_path = "src"
check_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true